
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-orient: horizontal;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

aside { 
    min-width: 24%;
    max-width: 36%;
    height: 100%;
    padding-top: 2em;
    margin-left: 4%;
    position: sticky;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000;
}

img {
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Extra small devices (phones, 420px and down) */
@media only screen and (max-width: 420px) {
    body {
        width: 100%;
    }

    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 5vw;
    }

    h4 {
        font-size: 4vw;
    }

    h5, p {
        font-size: 3vw;
    }

    ol > li {
        font-size: 3vw;
    }

    ul > li {
        font-size: 3vw;
    }

}

/* Small devices (portrait tablets and large phones, 420px and up) */
@media only screen and (min-width: 420px) {
    body {
        width: 100%;
    }

    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 4vw;
    }

    h4 {
        font-size: 3vw;
    }

    h5, p {
        font-size: 2vw;
    }

    ol > li {
        font-size: 2vw;
    }

    ul > li {
        font-size: 2vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        width: 100%;
    }

    h1 {
        font-size: xxx-large;
    }

    h2 {
        font-size: xx-large;
    }

    h3 {
        font-size: x-large;
    }

    h4 {
        font-size: medium;  
    }

    h5, p {
        font-size: small;
    }

    ol > li {
        font-size: small;
    }

    ul > li {
        font-size: small;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        margin: auto;
        width: 90%;
    }

    h1 {
        font-size: xxx-large;
    }

    h2 {
        font-size: xx-large;
    }

    h3 {
        font-size: x-large;
    }

    h4 {
        font-size: medium;  
    }

    h5, p {
        font-size: small;
    }

    ol > li {
        font-size: small;
    }

    ul > li {
        font-size: small;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        margin: auto ;
        width: 75%;
    }
}

/* Extra large devices (large desktops, 1800px and up) */
@media only screen and (min-width: 1800px) {
    body {
        margin: auto ;
        width: 70%;
    }

    h1 {
        font-size: xxx-large;
    }

    h2 {
        font-size: xx-large;
    }

    h3 {
        font-size: x-large;
    }

    h4 {
        font-size: medium;  
    }

    h5, p {
        font-size: small;
    }

    ol > li {
        font-size: small;
    }

    ul > li {
        font-size: small;
    }
}


h1 {
    font-style: normal;
    font-weight: 700;
    color: #000000;
    margin: 6% 0;
    max-width: 80%;
}

h2 {
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    margin: 4% 0;
    max-width: 80%;
}

h3 {
    font-style: normal;
    font-weight: 700;
    color: #000000;
    padding-bottom: 1%;
    max-width: 80%;
}

h4 {
    font-style: normal; 
    font-weight: 700;
    color: #000000;
    padding-bottom: 1%;
    max-width: 80%;
}

h5 {
    font-style: normal;
    font-weight: 400;
    color: #A8A8A8;
    padding: 1% 0;
    max-width: 80%;
}

p {
    font-style: normal;
    font-weight: 400;
    color: #595959;
    max-width: 80%;
    line-height: 160%;
    margin: 3% 0;
}

ol, ul {
    margin-top: 3%;
}

ol > li {
    font-style: normal;
    font-weight: 700;
    color: #000000;
    margin-left: 8%;
    max-width: 80%;
    line-height: 160%;
}

ul > li {
    font-style: normal;
    font-weight: 400;
    color: #595959;
    margin-left: 8%;
    max-width: 80%;
    line-height: 160%;
}

a, span {
    font-style: normal;
    font-weight: 400;
    color: #595959;
}

/* class typed styles */

.background {
    background-color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4%;
    width: 100%;
}

.main {
    min-width: 60%;
    max-width: 90%;
    height: 100%;
    padding-bottom: 2em;
}

.avatar {
    margin: auto;
    margin-bottom: 2em;
    max-width: 80%;
    border-radius: 50%;
    box-shadow: -2rem -1rem 5rem rgb(255, 255, 255, .7);
}

#moon {
 margin-top: 10%;   
}

.about {
    padding-top: 12%;    
    padding-bottom: 2%;
}

.about > .contacts {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: flex-start;
   gap: 2%;
   margin: 2% 0;
}

.projects, .work, .company, .education {
    padding: 2% 0;
}

.company > p {
    font-weight: 700;
    margin: 1% 0;
}

.organization {
    font-style: normal;
    font-weight: 700;
    color: #FB6D3A;
}

.education > .company > h4 {
    color: #FB6D3A;
}

.education > .company > p {
    margin: 1% 0;
}

.sidebar {
    padding-top: 2%;
    padding-left: 2%;
    margin-bottom: 6%;
}

.sidebar > h3 { 
    color: #ffffff;
    padding-left: 2%;
}

.sidebar > div {
  margin: 5%;
}

#intro {
    max-width: 90%;
    text-align: left;
    margin: 6% 0;
}

.sidebar > div > p {
    color: #ffffff;
    padding-top: 1%;
    max-width: 80%;
}

.sidebar > div > p > a, a {
    color: #6284b8;
    max-width: 80%;
}

.sidebar > ul > li {
    color: #FB6D3A;
}

.sidebar > ul > li > span {
    color: #ffffff;
}